@font-face {
    font-family: 'Cleanvertising Black';
    src: url('../fonts/CLEANVEB.eot');
    src: url('../fonts/CLEANVEB.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CLEANVEB.woff') format('woff'),
    url('../fonts/CLEANVEB.ttf') format('truetype'),
    url('../fonts/CLEANVEB.svg#CLEANVEB') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTAstraSans-Regular';
    src: url('../fonts/PTAstraSans-Regular.eot');
    src: url('../fonts/PTAstraSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTAstraSans-Regular.woff') format('woff'),
    url('../fonts/PTAstraSans-Regular.ttf') format('truetype'),
    url('../fonts/PTAstraSans-Regular.svg#PTAstraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}