$white: #fff;
$black: #000;
$light-white: #f6f3eb;
$font-color: #000;
$link-color: #0753a2;
$orange: #ff7c39;
$blue: #011224;
$em-base: 10px;

$mobile: "max-width: 540px";
$tablet: "min-width: 768px";
$desktop: "min-width: 1024px";
$wide-desktop: "min-width: 1280px";