@@include('./layout/head.html')

<body class="error-page">
    @@include('./modules/header-error.html')
    <main class="wrapper">
        <h1>Ошибка 404:<br>страница<br>не найдена</h1>
        <p>Узнайте <a href="#">ключевые факты о транспортной компании «УралТранзит»</a>, арендуйте нашу <a href="#">спецтехнику и оборудование для инженерных изысканий</a> или
            <a href="#">свяжитесь с нашим менеджером</a>.</p>
        <p>Хорошего Вам дня!</p>
    </main>

    @@include('./modules/footer-error.html')
</body>
</html>