@@include('./layout/head.html')

<body>
    @@include('./modules/header.html')
    <main class="wrapper">
        <div class="main-column">
            <img src="images/main-img-l.jpg" class="pos-pic" alt="image description">
        </div>
        <div class="main-column spacings">
            <h1 class="main-title">Проверенные бесжалостным Севером <a href="#"><span>спецтехника и оборудование</span></a> для инженерных изысканий в аренду</h1>
            <img src="images/main-img-r.jpg" class="pos-pic" alt="image description">
        </div>
    </main>

    @@include('./modules/footer.html')
</body>
</html>